* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {
	text-align: center;
}
header {
	display: flex;
	justify-content: space-between;
	background-color: black;
	color: white;
	padding: 20px;
}

nav ul {
	display: flex;
	width: 100%;
	padding: 10px;
	margin: 5px;
	justify-content: space-between;
}
nav ul li {
	list-style: none;
	margin: 5px;
	padding: 5px;
}

.logo {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-between;
	width: 25%;
}

.img {
	border-radius: 50%;
	width: 30%;
	height: auto;
}

nav a {
	text-decoration: none;
	color: white;
}

nav a:hover {
}
.projects {
	margin: auto;
	width: fit-content;
}
.row {
	display: flex;
	margin: 5px;
	padding: 5px;
}
.card {
	margin: 5px;
	margin: auto;
}
.members {
	width: 80%;
	margin: auto;
	margin-top: 5px;
	border: solid 1px black;
	padding: 10px;
}
.pfp {
	height: 300px;
	width: 300px;
	border-radius: 100%;
	object-fit: cover;
}
.texts {
	flex-direction: row;
	width: fit-content;
	text-align: center;
	margin: auto;
}

.texts h2 {
	align-self: center;
	margin-left: 1rem;
}
.desc {
	width: 80%;
	margin: auto;
}
